/* style.css */


/* 2.1 - RESET: Tirando os padrões do navegador */
/* limpa o padrão do navegador*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Crucial para controle de tamanho */
}

/* 2.2 - Globais: Fontes e cor de fundo */
body{
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Uma fonte mais moderna */
    background-color: #f4f4f4;
    color: #333;
}

h1{
    display: flex;
    justify-content: center;
    background-color: gray;
    height: 5rem;
    align-items: center;
}

main{
    /*centraliza*/
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    padding: 20px;
}

/*4.1 - O Card: fundo, borda, espaçamento*/
.product-card{
    background-color: #fff;
    border-radius: 10px; /* bordas arredondadas (UX: amigavel) */
    padding: 20px;
    width: 250px; /* Largura fixa para demonstração */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1); /* Sombra mais forte */
    transition: transform 0.3s ease; /* UX: feedback tátil */
}

/* UX: Feedback tátil ao passar o mouse */
.product-card:hover {
    transform: translateY(-5px); /* Sobe um pouquinho */
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 5);
}

.product-card img{
    width: 100%;/* Garante que a imagem não vaze */
    border-radius: 5px;
    margin-bottom: 15px;/* Espaço abaixo da imagem */
}

/*4.2 - elementos inteirnos */
.product-card h2{
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: #2c3e50;
}
/* preço destacado*/
.product-card .price{
    display: block;/* ocupa a linha toda */
    font-size: 1.5rem;
    font-weight: bold;
    color: #e74c1c; /* Vermelho para destaque */
    margin-bottom: 15px;
}

/*4.4- botao: O GRANDE VILAO DO HTML*/
.product-card button{
    background-color: rgb(82, 79, 131);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;/* UX: Mostra que é clicavel */
    transition: background-color 0.3s ease; /* Feedback tatil */
}

.product-card button:hover{
    background-color: #000000;
}

/* 5.1 - Vitrine: O poder do css Grid */
.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,  minmax(280px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}